button {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  font-size: 100%;
  vertical-align: baseline;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  -webkit-appearance: none;
  appearance: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button::-moz-focus-inner {
  border: none;
}

.todo-list li .icon-pause,
.todo-list li .icon-play {
  font-size: 18px !important ;
  width: 18px;
  height: 18px;
      color: #cc9a9a;
    margin: auto 0 11px;
    transition: color 0.2s ease-out;
    cursor: pointer;
}



.hidden {
  display: none;
}
